@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* for normal text */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
/* for headings */
.n{font-family: 'Open Sans', sans-serif;
    font-family: 'Kaushan Script', cursive;}
    h1
    {
        font-family: 'Kaushan Script', cursive; 

    }
    h2
    {
        font-family: 'Kaushan Script', cursive;
 
    }
    h3
    {
        font-family: 'Kaushan Script', cursive; 

    }
    h4
    {
        font-family: 'Kaushan Script', cursive; 

    }
    h5
    {
        font-family: 'Kaushan Script', cursive; 

    }
    h6
    {
        font-family: 'Kaushan Script', cursive; 

    }
    p
    {
        font-family: 'Open Sans', sans-serif;
    }
/* header */
header {
  background-color: rgba(161, 161, 161, 0.548);
    background-color: #EFF1F3;
    text-align: center;
    width: auto;
    height: 70vh;
    position: relative;
    box-sizing: border-box;
  }
  .navbar
  {
  background-color: rgba(161, 161, 161, 0.548);
     border-top-style: groove;
    border-top-color:#f5eded;
      border-bottom-style:inset;
      border-bottom-color:#f5eded; 
      border-bottom-width:thin; 
      box-shadow: 0px 1px 2px rgba(29, 34, 34, 0.5), 
              0px 2px 4px rgba(29, 34, 34, 0.5), 
              0px 4px 8px rgba(29, 34, 34, 0.5), 
              0px 8px 16px rgba(29, 34, 34, 0.5);
            }
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #fff;
  }
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler-icon,
  .navbar-scrolled .navbar-brand {
    color: #fff;
  }
  .navbar-scroll,
  .navbar-scrolled {
    background-color: #000000;
  }
  .mask-custom {
    backdrop-filter: blur(5px);
      background-color: rgba(34, 33, 33, 0.103);}
  .navbar-brand
  {   font-size: 40px;
      text-align: left;
      align-items: center;
      padding: 5px 10px;
      color:#000; 
      
}
  .navbar a
  { 
    margin: .3em; 
    font-weight: 600;
    font-size: 18px;
     color: #000;
     text-align:justify;
     text-decoration: none;
     padding: 7px 12px;
     align-items:flex-start;}
  .navbar a:hover
  { color:#000;
    padding: 6px 10px;
    background:#25262748;
    border-radius: 1px;}
    
    .overlay
    {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 90%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
    
    }
    .overlay .txt
    {
      font-weight: bolder;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: transparent;
      -webkit-text-stroke: 2px #fff;
    }
    
    
  /* header */





.booking-form-box
{
  background-color: #e8f1fa93;
  margin: 2em 3em;
  border: 1px solid #046271
}
.radio-btn
{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: justify;
}
.radio-btn .btn{
  margin: 20px 10px 20px 0;
  box-shadow: none;
}
.radio-btn .btn::after
{
  content: '';
  height: 15px;
  width: 15px;
  top: -2px;
  left: -1px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  border: 3px solid #0ea8b9;
  visibility: visible;
  border-radius: 50%;
}
.radio-btn .btn:checked::after
{
  content: '';
  background-color: #046271;
  transition: 0.5s;
}
.radio-btn span 
{
  color: rgb(0, 0, 0);
  margin-right: 5px;
  font-size: 14px;
}
.booking-form
{
  padding: 0px 10px 0px 10px;
}
.booking-form label
{
 max-width:min-content;
  display: inline;
  font-size: 12px;
  color: rgb(7, 0, 0);
}
input::placeholder
{
  width: 200px;
  color: rgba(0, 0, 0, 0.459) !important;
}
.input-grp
{
  width: 180px;
  display: inline-block;
}
.form-control
{
  font-size: 12px !important;
  border-radius: 0 !important;
  color:rgba(0, 0, 0, 0.39)  !important ;
  background-color: transparent  !important;
  box-shadow: 2px 2px 2px 2px #332e2e09!important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
  -webkit-appearance:none ;
  margin: 0;
}
.select-date.select-date::-webkit-calender-picker-indicator
{
  background: transparent !important;
}
.custom-select
{
  height: 30px;
  width: 180px;
  display: inline-block;
  color: #fff !important;
  font-size: 12px !important;
  border: 1px solid #272e2328 !important;
  box-shadow: 4px 4px 4px 4px #332e2e09!important;
  background: transparent !important;
}
.custom-select option
{
  color: #333;
  padding: 10px 0px;
}
.flight
{
  background-color: #0ea8b9;
  margin: 10px 20px 5px 10px;
  width: 100%;
  padding: 10px 0 !important;
  font-size: 12px !important;
  border: 1px solid #046271 !important;
  /* background-color: #e40066 !important; */
  box-shadow: none !important;
  border-radius: 3px !important;
}
.flight:hover
{
  background-color: #046271;
color: #000;
transition: 0.1s;
}






/* columns */
.A h2
{
  margin: 1.5em 0em;
}
.A 
{
  margin: 2em 3em;
  border:none;
}
.A .card
{
  border: 1px solid #c0bebe;
  padding: 1em;
  height: 370px;
}
.A .card img
{
  height: 350px;
}
.A .card-title
{
  position:absolute;
left:40%;
transform: translate(-50%, 20%);
  color: rgb(0, 0, 0);
  font-size: 27px;
}
.A .card-text
{
  position:absolute;
  bottom:30% ;
  left:40%;
  transform: translate(-50%, -50%); 
 color: rgb(0, 0, 0);
 font-weight: 600;
 font-size: 16px;
 text-shadow: 9px 9px 9px 9px  #f50000;
}
.A a 
{
  background-color: #6daffe;
  font-size: 12px !important;
  border: 1px solid #437fc7 !important;
  /* background-color: #e40066 !important; */
  box-shadow: none !important;
  border-radius: 3px !important;
  color: #000;
  background-color: #6daffe;
  border: 1px solid #437fc7 !important;
  position: absolute;
  bottom:20% ;
  left:15%;
  transform: translate(-50%, -50%);
}
.A ul
{
  list-style: none;
  transform: translate(3%, -300%);
  font-weight: 600;
 font-size: 16px;
 box-shadow:0px 0px 0px 0px #000;
}
.A ul li img
{
  box-shadow:0px 0px 0px 0px #000;
  max-width: 20px;
  max-height: 25px;
}
/* cols */

/* FAQ */
.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
  font-size: 25px;
  font-family: 'Kaushan Script', cursive;
}
.faq-container{
display: flex;
justify-content: flex-start;
flex-direction: column;
margin-left: 3em;

}
.hr-line{
width: 90%;


}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 20px 20px;
  width: 90%;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif
}

.faq-body{
  /* text-align: center; */
 width: 90%; 
 padding: 1em;
 
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(0, 0, 0);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
/* FAQ */


/* Routes */
.Routes
{
  text-align: center;
  margin: 1em;
}
.Routes p
{
  margin-top: 2em;
  line-height: 1em;
  text-align: center;
  font-size: 16px;
}
.Routes .row
{
  width: 100%;
  margin: 0em 0em;
  padding: 2em 0em;
}
.Routes .card
{
  padding: 5em 0em;
  border: 1px solid #046271;
  background-color:#f5eded;
  height: 300px;
  box-shadow: 0px 1px 2px rgba(29, 34, 34, 0.5), 
  0px 2px 4px rgba(29, 34, 34, 0.5), 
  0px 4px 8px rgba(29, 34, 34, 0.5), 
  0px 8px 16px rgba(29, 34, 34, 0.5);
}
.Routes .card img
{
  height:200px;
}
/* Routes */

.cas
{
  background-color: #f5eded;
  margin: 1em 0em;
}
.cas .row
{
  margin: 3em 0em;
  padding: auto;
}
.cas img
{
  height: 60px;
  width: 60px;
}

/* footer */
 

.l-footer.layout_compact .l-subfooter.at_top {
  font-size: 13px;
  line-height: 21px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.l-subfooter.at_top, .l-subfooter.at_top .w-profile, .l-subfooter.at_top .widget_calendar #calendar_wrap {
  border-color: #444444;
}
.l-subfooter.at_top, .no-touch .l-subfooter.at_top #lang_sel ul ul a:hover, .no-touch .l-subfooter.at_top #lang_sel_click ul ul a:hover {
  background-color: #333333;
}
.l-subfooter {
  padding-left: 40px;
  padding-right: 40px;
}
.l-subfooter {
  position: relative;
  margin: 0 auto;
}


.l-subheader-h, .l-titlebar-h, .l-main-h, .l-section-h, .l-subfooter-h, .w-tabs-section-content-h, .w-blog-post-body {
max-width: 1140px;
}
.l-subfooter-h {
margin: 0 auto;
max-width: 1200px;
}
.l-footer.layout_compact .l-subfooter.at_top {
  font-size: 13px;
  line-height: 21px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.i-cf:before, .i-cf:after {
content: ' ';
display: table;
}
.i-cf:after {
clear: both;
}
.g-cols:before, .g-cols:after {
display: table;
line-height: 0;
content: '';
}
.g-cols:after {
clear: both;
}

.g-cols.offset_medium > div:first-child, .g-cols.offset_medium > div.full-width {
  margin-left: 0;
}

.g-cols.offset_medium > .one-half {
  width: 47%;
}
.g-cols.offset_medium > div {
  margin-left: 6%;
}
.l-section, .g-cols > div, .w-blog-post, .w-comments-list, .w-pricing-item-h, .w-profile, .w-separator, .w-sharing-item, .w-tabs-section, .w-tabs-section-header:before, .w-tabs.layout_timeline .w-tabs-list:before, .w-tabs.layout_timeline.accordion .w-tabs-section-content, .g-tags > a, .w-testimonial, .widget_calendar #calendar_wrap, .l-main .widget_nav_menu > div, .l-main .widget_nav_menu .menu-item a, .widget_nav_menu .menu-item.menu-item-has-children + .menu-item > a, .select2-container a.select2-choice, .smile-icon-timeline-wrap .timeline-line, .woocommerce table th, .woocommerce table td, .woocommerce .login, .woocommerce .checkout_coupon, .woocommerce .register, .woocommerce .cart.variations_form, .woocommerce .cart .group_table, .woocommerce .cart .group_table td, .woocommerce .commentlist .comment-text, .woocommerce .comment-respond, .woocommerce .related, .woocommerce .upsells, .woocommerce .cross-sells, .woocommerce .checkout #order_review, .woocommerce ul.order_details li, .woocommerce .shop_table.my_account_orders, .widget_price_filter .ui-slider-handle, .widget_layered_nav ul, .widget_layered_nav ul li, #bbpress-forums fieldset, #bbpress-forums .bbp-body > ul, #bbpress-forums li.bbp-header, .bbp-replies .bbp-body, div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, .bbp-pagination-links a, .bbp-pagination-links span.current, span.bbp-topic-pagination a.page-numbers, .bbp-logged-in, .gform_wrapper .gsection, .gform_wrapper .gf_page_steps, .gform_wrapper li.gfield_creditcard_warning, .form_saved_message {
border-color: #e8e8e8;
}


.g-cols > div {
float: left;
width: 100%;
}
.l-subfooter .widget {
margin-bottom: 30px;
}
.widget:last-child {
margin-bottom: 0;
}
.widget {
margin-bottom: 45px;
}
.l-subfooter.at_top {
color: #ffffff;
}
.l-subfooter.at_top {
color: #ffffff;
}

.l-subfooter.at_top h1, .l-subfooter.at_top h2, .l-subfooter.at_top h3, .l-subfooter.at_top h4, .l-subfooter.at_top h5, .l-subfooter.at_top h6, .l-subfooter.at_top input, .l-subfooter.at_top textarea, .l-subfooter.at_top select, .l-subfooter.at_top .w-form-row-field:before {
color: #dddddd;
}
* {
box-sizing: border-box;
}
.l-subfooter.at_top {
color: #ffffff;
}
.l-subfooter.at_top {
color: #ffffff;
}
.w-gallery-list {
  font-size: 0;
}

.w-gallery.columns_4 .w-gallery-item {
  width: 25%;
}
.w-gallery-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.w-gallery-item img {
padding: 5px;
}
.w-gallery-item img {
display: block;
margin: 0 auto;
width: 100%;
height: 100px;
}
img {
border: 0;
height: auto;
max-width: 100%;
}

/* footer */
